rbody {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.back-btn{
	float: right;
}

 .glyphicon glyphicon-plane { cursor:pointer } 
 .glyphicon glyphicon-home { cursor:pointer } 
 .glyphicon glyphicon-fire { cursor:pointer } 
 table, th , td {
   padding: 5px;
 }
 